@import 'bootstrap/bootstrap';
@import 'buttons';

@font-face {
  font-family: Monaco;
  src: url('/monaco.otf');
}

@font-face {
  font-family: Segment7;
  src: url('/segment7.otf');
}

html, body {
  background: url('/background.png');
}

#canvas-wrapper {
  background-image: url('/crt-dark.png');
  background-size: 100% auto;
  border-radius: 30px;
  border: 1px solid rgb(30,30,30);
  border-bottom: none;
  // Hack to hold aspect ratio, see http://stackoverflow.com/questions/1495407
  padding-bottom: (100% * 589px / 982px);
  position: relative;
}

canvas {

  display: block;
  position: absolute;

  // It 'remembers' the initial aspect ratio set in Graph.cjsx
  width: 83%;
  height: auto;

  // Center within #canvas-wrapper
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  margin: auto;
}

.lcd {
  @lcd-bg: rgb(150, 150, 130);
  background: linear-gradient(
    lighten(@lcd-bg, 10%), 
    darken(@lcd-bg, 10%)
  );

  border: 1px solid rgb(30,30,30);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.75);
}

#controls {
  .make-row();
  margin-top: 20px;
}

#time-remaining-wrapper {
  .make-sm-column(3);
  .make-md-column(2);
}

#time-remaining {
  .lcd;

  border-radius: 10px;

  font-family: 'Segment7';
  font-size: 70px;
  // The font includes an 18.5% (13px) bottom padding
  padding: 13px 13px 0 13px;
  line-height: 100%;
  text-align: right;
}

#time-remaining::before {
  content: '88';
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
}

#expression-wrapper {
  .make-sm-column(6);
  .make-md-column(8);

  #expression {
    .lcd;
    font-family: '5x8 LCD HD44780U A02';
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px 0;

    #lcd-background {
      color: rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
  }

  input {
    width: 100%;
    position: absolute;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
  }
}

#fire-wrapper {
  .make-sm-column(3);
  .make-md-column(2);
}