@import 'LCDScreen';
@import 'Button';

.screen-wrapper {
  background-image: url('/crt-dark.png');
  background-size: 100% auto;
  border-radius: 30px;
  border: 1px solid rgb(30,30,30);
  border-bottom: none;

  // Hack to hold aspect ratio, see http://stackoverflow.com/questions/1495407
  padding-bottom: (100% * 589px / 982px);
  position: relative;

  .screen-inner-wrapper {
    position: absolute;

    width: 83%;
    height: 83%;

    // Center within screen-wrapper
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    margin: auto;

    // Text styles
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Monaco";
    color: white;
    text-shadow: 0px 0px 4px rgb(0,255,0);
    -webkit-text-stroke: 0.25px rgb(0, 255, 0);
  }
}

#controls {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 20px;
}

@font-face {
  font-family: 'Segment7';
  src: url('/segment7.otf');
}

@font-face {
  font-family: '5x8 LCD HD44780U A02';
  src: url('/5x8lcd-fixed.otf');
}

#time-remaining-wrapper {
  -webkit-flex: 0 0 110px;
  flex: 0 0 110px;
  margin-right: 15px;
}

#time-remaining {
  .lcd-screen;

  border-radius: 10px;

  font-family: 'Segment7';
  font-size: 70px;
  // The font includes an 18.5% (13px) bottom padding
  padding: 13px 13px 0 13px;
  line-height: 100%;
  text-align: right;
  color: #333;
  white-space: pre;
}

#time-remaining::before {
  content: '88';
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
}

.expression-wrapper {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  @import 'LCDInput';
}

#fire-wrapper {
  margin-left: 15px;
  -webkit-flex: 0 0 120px;
  flex: 0 0 120px;
}

@font-face {
  font-family: 'Monaco';
  src: url('/monaco.otf');
}

.centertext {
  @font-size: 14px;

  width: 100%;
  text-align: center;

  position: absolute;
  top: 50%;
  margin-top: -0.5 * @font-size;

  font-size: @font-size;
  line-height: 100%;
}

@media (max-width: @screen-xs-max) {
  .screen-wrapper {
    border-radius: 10px;
  }

  #controls {
    margin-top: 5px;

    #time-remaining-wrapper {
      flex: 0 0 40px;
      -webkit-flex: 0 0 40px;
      margin-right: 5px;
    

      #time-remaining {
        border-radius: 3px;
        font-size: 25px;
        // The font includes an 18.5% (13px) bottom padding
        padding: 5px 5px 0 5px;
      }
    }

    #fire-wrapper {
      flex: 0 0 60px;
      -webkit-flex: 0 0 60px;
      margin-left: 5px;
    }
  }
}