@import 'Computer';

.lobby-wrapper {
  max-width: 700px;
  max-height: 300px;

  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: @screen-xs-max) {
    font-size: 10px;
  }

  .url-wrapper {
    text-align: center;
    margin-bottom: 50px;
    
    @media (max-width: @screen-xs-max) {
      margin-bottom: 0px;
    }

    input {
      -moz-user-select: text;
      -khtml-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      user-select: text;

      background-color: rgba(0, 255, 0, 0.25);
      border: none;
      padding: 5px;

      &:focus {
        outline: 1px solid #0f0;

        &::selection {
          background-color: #0f0;
        }

        &::-moz-selection {
          background-color: #0f0;
        }
      }
    }
  }

  .teams {
    .make-row();
    padding: 10px;

    .team {
      .make-sm-column(6);

      .team-heading {
        margin-bottom: 20px;
        font-weight: bold;

        @media (max-width: @screen-xs-max) {
          margin-bottom: 5px;
        }
      }

      .player {
        margin-left: 20px;
        button {
          margin-left: 10px;
          display: inline;
          background-color: rgba(0, 255, 0, 0.25);
          border: none;
        }
      }
    }
  }
}