doctype html
html(lang=en)
  head
    title Axis
    link(rel='stylesheet' type='text/css' href='/compiled/app.css')
  body
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/compiled/app.js')